---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=DNyKDI9pn0Q&key=<YOUTUBE_KEY>&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bvxF-DWHx1toJotsdJBeCm43SLs/qa2TJD2mtY14YCPBdz2BTYOA98s"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/qa2TJD2mtY14YCPBdz2BTYOA98s\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/qSW6jUSTE-ZTZU2tedZkrQL-rsk\"",
           "id": "DNyKDI9pn0Q",
           "statistics": {
            "viewCount": "4073833",
            "likeCount": "17690",
            "dislikeCount": "563",
            "favoriteCount": "0",
            "commentCount": "1289"
           }
          }
         ]
        }
  recorded_at: Tue, 03 Jun 2014 02:15:00 GMT
recorded_with: VCR 2.9.0
