---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=0dYlvdLdK9w&key=<YOUTUBE_KEY>&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bvxF-DWHx1toJotsdJBeCm43SLs/gOJpvhJ2JdUkhNJObTSIScvtvjQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/gOJpvhJ2JdUkhNJObTSIScvtvjQ\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/Jrl6z_CqgFW__WqF8XCT4wkxZmM\"",
           "id": "0dYlvdLdK9w",
           "statistics": {
            "viewCount": "18661338",
            "likeCount": "292382",
            "dislikeCount": "4225",
            "favoriteCount": "0",
            "commentCount": "24370"
           }
          }
         ]
        }
  recorded_at: Mon, 02 Jun 2014 23:46:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=RPlj673A7H0&key=<YOUTUBE_KEY>&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bvxF-DWHx1toJotsdJBeCm43SLs/lPf3pCNrEDx6c-0lZj2rb9quM7Q"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/lPf3pCNrEDx6c-0lZj2rb9quM7Q\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/XRXFr7ZRynJFGaU_BgfhF60aWcA\"",
           "id": "RPlj673A7H0",
           "statistics": {
            "viewCount": "64604",
            "likeCount": "4169",
            "dislikeCount": "25",
            "favoriteCount": "0",
            "commentCount": "225"
           }
          }
         ]
        }
  recorded_at: Mon, 02 Jun 2014 23:46:40 GMT
recorded_with: VCR 2.9.0
