---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=-zQxHBr2NPg&key=<YOUTUBE_KEY>&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bvxF-DWHx1toJotsdJBeCm43SLs/mMc2mJfb5_s8wDryJd-Phl4J-9I"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/mMc2mJfb5_s8wDryJd-Phl4J-9I\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"bvxF-DWHx1toJotsdJBeCm43SLs/o6lOBlRxp2C5VmuImkbNvylikw8\"",
           "id": "-zQxHBr2NPg",
           "statistics": {
            "viewCount": "217",
            "likeCount": "6",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "1"
           }
          }
         ]
        }
  recorded_at: Mon, 02 Jun 2014 23:52:06 GMT
recorded_with: VCR 2.9.0
