<h1><%= @user.username.capitalize %>'s Profile</h1>

<table>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Username:</td>
    <td><%= @user.username %></td>
  </tr>
</table>

<br>
<%= link_to 'Edit Account', edit_user_path %>