<h1>Welcome<% if @user %>, <%= @user.username.capitalize %><% end %>! :D</h1>
<hr><br>

Listen to What Our Users Listen to.

<ul>
  <% @users.each do |user| %>
    <li>Listen to What <%= user.username %> Listens to.</li>
    <%= link_to 'Click here for more.', [user, :songs] %>
  <% end %>
</ul>


