<h1>Welcome<% if @user %>, <%= @user.username.capitalize %><% end %>! :D</h1>
<hr><br>

<ul>
  <% @users.each do |user| %>
    <li><%= user[:username] %>'s page</li>
  <% end %>
</ul>

<h3>Listen to what Bebe Listens to.</h3>
<a href="/songs">Click here for more.</a>