<h1>Welcome<% if @user %>, <%= @user.username.capitalize %><% end %>! :D</h1>
<hr><br>

<% if @user %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', new_user_path %>
<% end %>

<ul>
  <% @users.each do |user| %>
    <li><%= user[:username] %>'s page</li>
  <% end %>
</ul>

<h3>Listen to what Bebe Listens to.</h3>
<a href="/songs">Click here for more.</a>