<div data-attribute="modal" class="modalDialog">
  <div>
    <a data-dismiss="modal" href="#close" title="Close" class="close">X</a>
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>