/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./vendor
 *= require_tree ./modules
 *= require_self
 */

html {
  font-family: 'Vollkorn', Georgia, Times, serif;
  height: 100%;
}

body {
  background-image: image_url("congruent_outline.png");
  height: 100%;
  padding: 1% 3% 3% 3%;
}

a {
  text-decoration: none;
  color: #177eee;
}

h1, h2 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

header {
  color: #d4d4d4;

  #left_header {
    float: left;
    width: 45%;
    text-align: left;
    img {
      height: 50px;
    }
  }

  #right_header {
    padding-top: 30px;
    float: right;
    width: 45%;
    text-align: right;
    img {
      height: 14px;
    }
  }

  a {
    text-decoration: none;
    color: #2ca3e3;
  }
}

#content {
  clear: both;
  width: 100%;
  height: 88%;
  overflow: scroll;
  border: black solid;
  border-radius: 25px;
  padding: 3% 7%;
  background-color: #d4d4d4;
}

#song_table, #stats_table {
  margin: 0 auto;
  border-collapse: separate;
  border: solid black 2px;
  border-radius: 25px;
  width: 100%;

  th {
    font-size: 120%;
  }

  th, td {
    padding: 10px 10px;
  }

  tr:first-child th {
    border-bottom: solid black 2px;
  }

  tr:last-child td {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

#stats_table {
  background-image: linear-gradient(to bottom, #428bca 0, #2d6ca2 150%);
  td:first-child {
    width: 50%%;
    text-align: right;
  }
}

#user_settings {
  td {
    padding: 10px 10px;
  }
}

#song_form {
  td {
    padding: 10px 10px;
  }
}

#user_form {
  td {
    padding: 10px 10px;
  }
}

input[type="submit"], button {
  color: #d4d4d4;
  background-color: #333333;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #000;
  border-radius: 10px;
}

input[type=text], input[type=email], input[type=password] {
  background-color: #c0c0c0;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  padding: 2px 10px;
}

hr {
  border: solid black 1px;
}

.errors {
  background-color: #ffb0b5;
  width: 35%;
  border-radius: 2em;
  border: 2px solid #c2070d;
  text-align: center;
  padding: .5em;
  color: #c2070d;
}

#delete_user {
  padding-top: 25%;
  text-align: right;
}

#main {
  width: 70%;
  margin: 0 auto;

}